<div class=repeat id=title>
  Montana Dave's Vegan Sushi
</div>

<div class=repeat>
  <ul id=menubar>
    <li class=selected><a href="home">Home</a></li>
    <li class=menu><a href="menu">Menu</a></li>
    <li class=menu><a href="events">Events</a></li>
    <li class=menu><a href="reviews">Reviews</a></li>
    <li class=menu><a href="source">Farm/Source</a></li>
    <li class=menu><a href="reservations">Reservations</a></li>
    <li class=menu style="float:right"><a href="contactus">Contact Us</a></li>
  </ul>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class></li>
    <li data-target="#myCarousel" data-slide-to="2" class></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="./img1.jpg" alt="img1">
      <div class="carousel-caption">
        <p>Photo by Tim Mossholder on Unsplash</p>
      </div>
    </div>

    <div class="item">
      <img src="./img2.jpg" alt="img2">\
      <div class="carousel-caption">
        <p>Photo by Daniel Apodaca on Unsplash</p>
      </div>
    </div>

    <div class="item">
      <img src="./img3.jpg" alt="img3">
      <div class="carousel-caption">
        <p>Photo by Steve Halama on Unsplash</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div id=about>
  <h2>Montana Dave's Vegan Sushi</h2>
  <h4>About the Owner</h4>
  <p>Put some text here about why the owner started dave's vegan sushi because people didn't understand about being vegan and because he wanted to do something different and healthy and sustainable for the world.</p>
  <p>Dave's uses as much locally sourced food as possible.  We get most of our ingredients from growers in Montana.</p>
  <h4>About the Location</h4>
  <p>Located in the historic Electric Building in downtown Billings, Montana.  Just a short walk from other popular Billings destinations, including the Alberta Bair Theatre and the Babcock Theatre.</p>
  <h4>About the Chef</h4>
  <p>Chef Chuck had been serving up typical American food until a health scare changed his life forever.  After discovering the world of vegan cuisine, Chef Chuck decided to bring his love of clean flavors to the world of vegan sushi and never looked back.</p>
</div>

<div id=newletter>
</div>


    